rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // كل مستخدم يقدر يقرأ ويكتب فقط في المستند الخاص فيه (uid تبعه)
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
